
    {% extends 'baseHeader.html' %}

{% load staticfiles %}
{%  block content %}
    <head>
        <link href="{% static "css/betterText.css"%}" rel="stylesheet" type="text/css">
    </head>
    <div id="posts" class="posts-expand">
    <div class="main-inner">
    <h1 class="post-title" itemprop="name headline">about</h1>
    <div class="post-body">
        <p>Cryptography major. Also interest in pwn and South Park. A fans of Satoshi, Shannon and Guns N’ Roses.<br>I want to do something in this world, but I still not sure what should I do.<br>Made the first step in cryptography : <em>outsourced cipher policy attribute base encryption</em>. But now maybe I’ll try <em>reverse engineering</em> or <em>PWN</em>. I am not sure which field I will step in. Fortunately, the first procedure in these two fileds are same, so the choice can be delay.</p>
        <p><b>Tue Nov 28 11:51:34 UTC 2017</b></p>

        <p>Learned more things and tried Multi-Part-Computation in the last year. Maybe will be a Phd student in IU’s system security lab.</p>
        <p><b>Fri Oct 12 00:31:12 DST 2018</b></p>

        <p><a href="https://t.me/Iphan" target="_blank" rel="noopener">Telegram</a>
            <br>
             <a href="mailto:g40.chuan@gmail.com" target="_blank" rel="noopener">Email</a></p>
    </div>
    </div>
    </div>
{% endblock %}