
{% extends 'baseHeader.html' %}
{%  block content %}
<p>Cryptography major. Also interest in pwn and South Park. A fans of Satoshi, Shannon and Guns N’ Roses.<br>I want to do something in this world, but I still not sure what should I do.<br>Made the first step in cryptography : <em>outsourced cipher policy attribute base encryption</em>. But now maybe I’ll try <em>reverse engineering</em> or <em>PWN</em>. I am not sure which field I will step in. Fortunately, the first procedure in these two fileds are same, so the choice can be delay.</p>
<p>Tue Nov 28 11:51:34 UTC 2017</p>

<p>Learned more things and tried Multi-Part-Computation in the last year. Maybe will be a Phd student in IU’s system security lab.</p>
<p>Fri Oct 12 00:31:12 DST 2018</p>

<p><a href="https://t.me/Iphan" target="_blank" rel="noopener">Telegram</a><br>Email : <a href="mailto:g40.chuan@gmail.com" target="_blank" rel="noopener">g40.chuan@gmail.com</a></p>
{% endblock %}