{% load staticfiles %}
<html>
  <body>
    <center>
      <h1>1phan's blog</h1>
      <b>Time is running out
      <br>
        {{date}}</b>
      <br />
      <br />
{#      <a href="/">Home</a>#}
                <li class="menu-item menu-item-home">
          <a href="/" rel="section">

              <i class="menu-item-icon fa fa-fw fa-home"></i> <br />

            Home
          </a>
        </li>
     <li class="menu-item menu-item-about">
          <a href="/about/" rel="section">

              <i class="menu-item-icon fa fa-fw fa-user"></i> <br />

            About
          </a>
        </li>
    </center>
  {%  block content %}
  {% endblock %}
  </body>
</html>