
{% extends 'baseHeader.html' %}

{% load staticfiles %}
{%  block content %}
    <head>
        <link href="{% static "css/betterText.css"%}" rel="stylesheet" type="text/css">
    </head>
    <div id="posts" class="posts-expand-lessblank">
        <div class="main-inner">
            <h1 style="text-align:center" class="post-title" itemprop="name headline" >{{ name }}</h1>
            <div class="post-body">
                {% block paper %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
